.header {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
    transition: all 0.5s;
}


.site-title {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 1000;
    margin: 0;
    margin-left: 10px;
    align-self: flex-start;
    color: black;
}

.site-logo {
    height: 100px;
    transition: all 0.5s;
}

.header-left-section {
    display: flex;
    align-items: center;
}

.header-middle-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    flex: 8;
    transition: all 0.5s;
}

.header-middle-top {
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    transition: all 0.5s;
}

.header-spacer {
    flex: 1;
}


nav ul
{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0px;
}

nav a
{
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    margin: 5px;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    transition: 
        background-color 0.25s, 
        color 0.25s, 
        border-radius 0.5s,
        font-weight 0.25s,
        padding-left 0.5s,
        padding-right 0.5s;
}

nav a:hover
{
    background-color: #11402F;
    color: beige;
    border-radius: 20px;
    font-weight: 700;
    padding-left: 25px;
    padding-right: 25px;
}


.sidebar
{   
    position: fixed;
    top: -15px;
    right: 0px;
    height: 100vh;
    width: 250px;
    padding-left: 20px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.512);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 30px;
    transition: all 0.5s;
}

.footer {
    height: auto;
    background-color: white;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
}

.footer-banner
{
    width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.footer-1
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-left: 0px;
    padding: 15px 0px;
    margin-top: -5px;
    background-color: #11402F;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.footer-1 img
{
    height: 70px;
    margin: 10px;
    border-radius: 10px;
}

.footer-2
{
    width: 100%;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
}

.footer-2-1
{
    font-size: 1.2rem;
    color: white;
    margin-bottom: 20px;
    font-weight: 600;
}

.footer-3
{
    background-color: black;
    color: beige;
    padding: 10px;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    text-align: right;
}



@media (max-width: 1000px) {
    .hide-on-mobile{
        display: none;
    }
}

@media (min-width: 1001px) {
    .hide-on-pc{
        display: none;
    }
}

@media (max-width: 550px) {
    .header
    {
        height: 80px;
    }
    .site-title {
        display: none;
    }
    .site-logo {
        height: 80px;
    }
    .header-middle-top {
        display: none;
    }
    .sidebar{
        left: 0;
        width: auto;
        padding-left: 40px;
    }

    .footer-3
    {
        font-size: .75rem;
    }
}
 