.header {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
}


.site-title {
    font-size: 2rem;
    font-weight: 1000;
    margin: 0;
    margin-left: 10px;
    align-self: flex-start;
}

.site-logo {
    height: 100px;
}

.header-left-section {
    display: flex;
    align-items: center;
}

.header-middle-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    flex: 8;
}

.header-middle-top {
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
}

.header-spacer {
    flex: 1;
}


nav ul
{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0px;
}

nav a
{
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    margin: 5px;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    transition: 
        background-color 0.25s, 
        color 0.25s, 
        border-radius 0.5s,
        font-weight 0.25s,
        padding-left 0.5s,
        padding-right 0.5s;
}

nav a:hover
{
    background-color: #11402F;
    color: beige;
    border-radius: 20px;
    font-weight: 700;
    padding-left: 25px;
    padding-right: 25px;
}


.sidebar
{   
    position: fixed;
    top: -15px;
    right: 0px;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.512);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 30px;
}


@media (max-width: 1000px) {
    .hide-on-mobile{
        display: none;
    }
}

@media (min-width: 1001px) {
    .hide-on-pc{
        display: none;
    }
}

@media (max-width: 550px) {
    .header
    {
        height: 80px;
    }
    .site-title {
        display: none;
    }
    .site-logo {
        height: 80px;
    }
    .header-middle-top {
        display: none;
    }
    .sidebar{
        width: 100%;
    }
}
 